@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;

@font-face {
  font-family: "nicolatte";
  src: url(../public/fonts/NICOLATTE.ttf) format("truetype");
}

@layer base {
  html {
    @apply bg-black text-zinc-50 ;
  }
  div {
    @apply font-nicolatte tracking-widest text-sm antialiased;
  }
}

.corners {
  --s: 10px; /* the size on the corner */
  --t: 3px;  /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #505050; /* the color here */
  outline-offset: calc(-1*var(--t));
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}